.hero-btn{
    background:#f4b400;
    color:#fff;
    border:none;
    border-radius:30px;
    padding:10px 12px 10px 22px;
    display:inline-flex;
    align-items:center;
    gap:10px;
    font-weight:600;
}

.hero-btn .icon{
    width:28px;
    height:28px;
    border-radius:50%;
    background:#fff;
    color:#f4b400;
    display:flex;
    align-items:center;
    justify-content:center;
}
.hero-section{
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    background-image: url("images/Rectangle 23.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 46% 80%;
}





/* Navbar */
.navbar{
    position: relative;
    z-index: 10;
}

/* Hero Content */
.hero-content{
    position: relative;
    z-index: 10;

    width: 500px;
    margin-top: 100px;
}

/* Sofa */
.sofa{
    position: absolute;
    right: 120px;
    bottom: 0;

    width: auto;

    z-index: 5;
}

/* Plant */
.plant{
    position: absolute;
    right: 30px;
    bottom: 20px;

    width: auto;

    z-index: 6;
}
.hero-content{
    max-width: 430px;
}

.hero-title{
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2;
}

.hero-description{
    margin: 25px 0;
    color: #8b8b8b;
}
